.title {
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.form {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
}

.results {
  padding-top: 3rem;
  padding-bottom: 4rem;
}
